* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

body {
  background: $light-color;
}

img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 10px 4px 10px rgba(0,0,0, 0.5);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 300px;
}