* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

body {
  background: $light-color;
}

img {
  width: 100%;
  box-shadow: -2px 5px 10px rgba(0,0,0, 0.3);
  border-radius: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-color;
}

.content {
  display: grid;
  grid-template-columns: 1fr 300px;
}

/*** Global buttons */
.btn {
  background: none;
  cursor: pointer;
  color: $dark-color;
  border: none;
  font-size: 14px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0 , .4);
}
