.wrapper-movies {
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  @media (max-width: 480px) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .wrapper-movie {
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    position: relative;
  
    &:hover {
      background-color: $dark-color;
      box-shadow: -2px 2px 10px rgba(0,0,0, 0.3);
      transform: scale(1.05);

      img {
        box-shadow: none;
        border-radius: 10px 10px 0 0;
      }

      h2 {
        color: $default-color;
      }

      i {
        background: $dark-color;
        color: $default-color;
        opacity: 1;
      }
    }
    
    h2 {
      color: $dark-color;
      letter-spacing: .15rem;
      text-align: center;
      font-size: .8rem;
      padding: 1.5rem 1rem;
    }

    i {
      color: $default-color;
      position: absolute;
      top: 0; 
      left: 0;
      margin: .5rem;
      padding: .5rem;
      border-radius: 50%;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
}
