.pagination {
  width: 100%;
  margin: 3rem 0;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    color: $light-color;
    background: $dark-color;
    margin-left: 1rem;
    border-radius: 50px;
    padding: .5rem 1rem;
    
    &:hover {
      color: $default-color;
      transform: scale(1.04);
    }
  }
}