.search {
  margin: 2rem 0;
  height: 40px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &:hover {
    opacity: .9;
  }
  
  @media (max-width: 720px) {
    width: 100%;
  }
  
  &__button{
    background: $dark-color;
        
    i {
      width: inherit;
      height: inherit;
      padding-top: .95rem;
      color: $default-color;
      transition: transform .5s ease-out;
      font-size: 1.05rem;
      border-radius: 50%;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  &__input {
    // display: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    border-bottom: 2px solid $default-color;
    animation: showSearh 1.1s ease;

    @keyframes showSearh {
      from { width: 0px;}
      to {width: 100%;}
    }

    input {
      width: 100%;
      height: 100%;
      border: none;
      background: transparent;
      color: $dark-color;
      font-family: Tahoma;
      font-size: .9rem;
      font-weight: bold;
      padding-left: 1rem;
      outline: none;
      text-transform: uppercase;
    }
  }

  &__input--show {
    display: block;
  }
}

/*** Global buttons */
.btn {
  height: 45px;
  width: 45px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: -5px 5px 5px rgba(0, 0, 0 , .4);
} 



